@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
.editinventory {
  font-family: $primary-font;
  margin: 0 auto;
  width: 300px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  margin-top: -4rem;
  @include tablet {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 11rem;
  }
  @include desktop {
    width: 1100px;
  }
  &-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $cloud;
    padding: 0.5rem 1rem 1rem 1rem;
    gap: 0.5rem;
    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &-title {
      @include tablet {
        font-size: 2rem;
      }
    }
  }
  &-containers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.813rem;
    position: relative;
    padding: 1rem 0;
    gap: 0.5rem;
    @include tablet {
      height: 55vh;
      gap: 5rem;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 1rem;
    @include tablet {
      margin-right: -6rem;
      border-right: 1px solid $cloud;
    }
    &-details {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      @include tablet {
        font-size: 1.5em;
        margin-bottom: 1.5rem;
      }
    }
    &-item {
      @include fontWeight;
    }
    &-itemname {
      border-radius: 20px;
      outline: none;
      border: 1px solid $cloud;
      padding: 0 1rem;
      height: 36px;
      width: 100%;
      margin-bottom: 1rem;
    }
    &-description {
      @include fontWeight;
    }
    &-text {
      border-radius: 15px;
      outline: none;
      border: 1px solid $cloud;
      padding: 0.5rem 1rem;
      height: 100px;
      width: 100%;
      margin-bottom: 0.75rem;
    }
    &-category {
      @include fontWeight;
    }
    &-dropdown {
      border-radius: 20px;
      border: 1px solid $cloud;
      padding: 0 1rem;
      height: 36px;
      width: 100%;
      margin-bottom: 1rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
    }
    &-drop {
      position: absolute;
      top: 17.75rem;
      left: 15.5rem;
      @include tablet {
        top: 18.4rem;
        left: 17.5rem;
      }
    }
  }
  &-wrapper {
    border-top: 1px solid $cloud;
    padding-top: 1rem;
    @include tablet {
      border-top: none;
      padding-left: 1.5rem;
      padding-top: 0;
    }
  }
  &-wrap {
    padding: 0 1rem;
    height: 20vh;
    &-avaibility {
      @include fontWeight;
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }
    &-status {
      display: block;
      @include fontWeight;
    }
    &-stock {
      display: flex;
      gap: 5rem;
      font-size: 0.815rem;
      margin-bottom: 1rem;
      &-one {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
      &-two {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
    &-warehouse {
      display: block;
      @include fontWeight;
    }
    &-dropdown {
      border-radius: 20px;
      border: 1px solid $cloud;
      padding: 0 1rem;
      height: 36px;
      width: 100%;
      margin-bottom: 1rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
    }
    &-drop {
      position: absolute;
      top: 32rem;
      right: 2rem;
      @include tablet {
        top: 10rem;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: $light-grey;
    height: 70px;
    margin-top: 2rem;
    @include tablet {
      margin-top: 0;
      justify-content: flex-end;
      padding-right: 1rem;
    }
    &-cancel {
      border-radius: 20px;
      border: 1px solid $cloud;
      height: 36px;
      width: 40%;
      background-color: $white;
      @include tablet {
        width: 10%;
      }
    }
    &-save {
      border-radius: 20px;
      border: none;
      height: 36px;
      width: 40%;
      color: $white;
      background-color: $instock-indigo;
      @include tablet {
        width: 10%;
      }
    }
  }
}
