//colours
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

//breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;
