@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.add-warehouse {
  color: $instock-black;
  background-color: $white;
  border: 1px solid rgba($color: $slate, $alpha: 0.1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba($color: $slate, $alpha: 0.1);
  margin: 0 1rem;
  width: calc(100% - 2rem);
  position: relative;
  top: -3.125rem;

  @include tablet {
    margin: 0 2rem;
    width: calc(100% - 4rem);
    top: -5.6rem;
  }

  @include desktop {
    max-width: 1040px;
    margin: 0 auto;
  }

  &__heading {
    @include divider-horizontal;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;

    @include tablet {
      justify-content: flex-start;
      padding: 0 1.5rem;
    }
  }

  &__link {
    align-self: center;
  }

  &__title {
    @include mobile-header;
    font-size: 1.55rem;
    padding: 1rem 0;

    @include tablet {
      @include large-header;
      padding: 1.5rem 0;
    }
  }
}

.form {
  &__inputs {
    @include tablet {
      display: flex;
      padding: 1.5rem 0;
      width: 100%;
    }
  }

  &__details {
    @include divider-horizontal;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    @include tablet {
      @include divider-vertical;
      border-bottom: none;
      width: 100%;
      padding: 0 1.5rem;
    }
  }

  &__subheading {
    @include mobile-subheader;

    @include tablet {
      @include large-subheader;
    }
  }

  &__contact {
    @extend .form__details;
    border: none;
  }

  &__buttons {
    background-color: $light-grey;
    display: flex;
    gap: 1rem;
    padding: 1rem;

    @include tablet {
      justify-content: flex-end;
      padding: 1.5rem;
    }
  }

  &__button-link {
    width: 100%;

    @include tablet {
      width: fit-content;
    }
  }

  &__button {
    @include mobile-buttons-form-fields;
    @include mobile-labels;

    @include tablet {
      @include large-buttons-form-fields;
      @include large-labels;
    }

    &--cancel {
      background-color: $white;
      color: $slate;
      border: 1px solid $cloud;

      &:hover {
        color: $instock-indigo;
        border: 1px solid $instock-indigo;
      }
    }

    &--add {
      background-color: $instock-indigo;
      color: $white;
      font-size: 0.75rem;
      border: none;

      &:hover {
        background-color: $graphite;
      }
    }
  }
}
