@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.category {
  &-containers {
    height: 236px;
    padding-left: 1.5rem;
    border-top: 1px solid $cloud;
    position: relative;
  }
  &-container {
    @include mobile-body-small;
    display: flex;
    height: 200px;
    &-one {
      color: $slate;
      position: absolute;
      left: 9rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 22vh;
    }
  }
  &-item {
    color: $slate;
    height: 30vh;
    display: flex;
    flex-direction: column;
    &-link {
      display: flex;
      &-text {
        color: $instock-indigo;
        margin-top: 0.2rem;
      }
    }
    &-img {
      display: none;
    }
    &-stock {
      height: 24px;
      width: auto;
      padding: 0 8px;
      border-radius: 20px;
      color: $green;
      background-color: rgba($color: #158463, $alpha: 0.1);
      font-weight: 600;
      padding-top: 0.25rem;
      margin-top: 0;
      &-notstock {
        @include mobile-tags-not-stocked;
        display: flex;
        align-items: center;
      }
    }
    &-cat {
      margin-top: 0;
      color: $instock-black;
    }
  }
  &-logo {
    margin-top: 4.5rem;
    &-edit {
      position: absolute;
      left: 18rem;
    }
  }
  &-warehouse__remove {
    display: none;
  }
  &__label{
    @include mobile-table-header;
    font-weight: 600;
    margin: 1rem 0 0.25rem;
  }
  p{
    @include mobile-body-medium;
  }
}
.list {
  display: none;
}
@include tablet {
  .category {
    &-containers {
      border: none;
      padding-left: 0;
    }
    &-container {
      display: flex;
      font-size: 1rem;
      gap: 3rem;
      height: 5vh;
      background-color: $light-grey;
      width: 100%;
      padding-left: 3rem;
      margin-bottom: 1rem;
      @include desktop {
        gap: 5rem;
      }
      &-one {
        width: 60%;
        display: flex;
        justify-content: space-around;
        @include desktop {
          display: flex;
          gap: 7rem;
          width: 58%;
        }
      }
    }
    &-item {
      display: flex;
      flex-direction: row;
      width: 32%;
      @include desktop {
        width: 25%;
      }
      &-text {
        width: 450%;
      }
      &-img {
        display: block;
        position: absolute;
        top: 0.25rem;
        color: $cloud;
      }
    }
    &-warehouse-action {
      display: inline;
      @include desktop {
        margin-left: 7rem;
      }
    }
    &-mobile {
      display: none;
    }
    &-sort-one {
      margin-left: 5.5rem;
    }
    &-sort-two {
      margin-left: 3.75rem;
    }
    &-sort-three {
      margin-left: 2.5rem;
    }
    &-sort-four {
      margin-left: 1.5rem;
    }
    &-sort-five {
      margin-left: 4.5rem;
    }
    &-logo {
      display: none;
    }
  }
}
@include tablet {
  .category {
    display: none;
  }
}

.nav {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    padding: 1.1875rem 2rem;
    background-color: $light-grey;
  }

  @include desktop {
    padding: 1.1875rem 2.5rem;
  }
  &-inv {
    display: flex;
    align-items: center;
    &__label{
      @include large-table-header;
      font-weight: 600;
      color: $slate;
  
      &:hover {
        cursor: pointer;
      }
    }

    &__inventory {
      margin-right: 2.4375rem;

      @include desktop {
        margin-right: 6.875rem;
      }
    }
    &__category {
      margin-right: 2.8125rem;
      @include desktop {
        margin-right: 6.125rem;
      }
    }
    &__status {
      margin-right: 3.875rem;
      @include desktop {
        margin-right: 7.125rem;
      }
    }
    &__status-warehouse{
      margin-right: 7.625rem;
      @include desktop{
        margin-right: 12.5625rem;
      }
    }
    &__quantity {
      margin-right: 1.25rem;
      @include desktop {
        margin-right: 2.875rem;
      }
    }

    &__actions {
      margin-left: auto;
    }
  }
  &-inv__remove {
    display: none;
  }

  &__sort-logo {
    width: 20px;
    margin-left: 4px;
  }
}
