@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    padding: 0.75rem 2rem;
    background-color: $light-grey;
  }

  @include desktop {
    padding: 0.75rem 2.5rem;
  }
  &-inv {
    display: flex;
    align-items: center;
    &__label{
      @include large-table-header;
      font-weight: 600;
      color: $slate;
  
      &:hover {
        cursor: pointer;
      }
    }

    &__inventory {
      margin-right: 2.8rem;

      @include desktop {
        margin-right: 7.125rem;
      }
    }
    &__category {
      margin-right: 3rem;
      @include desktop {
        margin-right: 6.5rem;
      }
    }
    &__status {
      margin-right: 4rem;
      @include desktop {
        margin-right: 7.375rem;
      }
    }
    &__status-warehouse{
      margin-right: 7.825rem;
      @include desktop{
        margin-right: 12.5625rem;
      }
    }
    &__quantity {
      margin-right: 1.625rem;
      @include desktop {
        margin-right: 3rem;
      }
    }

    &__actions {
      margin-left: auto;
    }
  }
  &-inv__remove {
    display: none;
  }

  &__sort-logo {
    width: 16px;
    margin-left: 4px;
  }
}
