@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.warehouse-list {
    width: 343px;
    box-shadow: 0 2px 5px rgba($instock-black, 0.1);
    border-radius: 4px;
    margin: 0 auto;

    @include tablet{
        width: 704px;
    }
  &__header {
    height: 196px;
    padding: 2rem 1.5rem 1.5rem;
    border-bottom: 1px solid $cloud;
    box-sizing: border-box;

    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  &__title {
    @include mobile-header;
    margin: 0;
  }

  &__search {
    @include mobile-buttons-form-fields;
    margin: 1rem 0;
    padding: 0 1rem;
  }

  &__button {
    @include mobile-buttons-form-fields;
    @include mobile-labels;
    background-color: $instock-indigo;
    color: $white;
    border: none;
  }
}
