// this is only here temporairly, oce jenna is done the sass ticket this will be in globals 

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    margin: 0;
}
